@import url('https://fonts.googleapis.com/css?family=Akshar');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

/*changes the background color*/
body {
  background-color: #f5f0e6 !important;
}

a {
  color: #85865F !important;
}
a:hover {
  color: #4F583D !important;
}
#navbar a, #navbar a:hover {
  color: #f5f0e6 !important;
}
#navbar {
 background-color: #ceb793;
}

h2.ui.header {
  font-family: 'Libre Bodoni', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #4f583d;
}

#landing-image {
  background: url("images/image1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 450px;
  box-shadow: inset 0 0 0 50vw rgba(79, 88, 61, .6);
}
#landing-image2 {
  background: url("images/image2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  box-shadow: inset 0 0 0 50vw rgba(79, 88, 61, .4);
}
.green-background {
  background-color: #85865f;
  height: 30px;
}
.plain-background {
  background-color: #f5f0e6;
  height: 400px;
}
.landing-content1 h1.ui.header {
  color: white;
  font-family: 'Merienda', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 70px;
}
.landing-content1 h2.ui.header {
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.landing-content2 h2.ui.header, .landing-content2 h3.ui.header{
  color: #4f583d;
  font-family: 'Merienda', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#navbar h1.ui.header {
  font-family: "Merienda", 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #4F583D;
}

#card-title {
  font-family: "Akshar", monospace !important;
  font-size: 25px;
}

#page-header-style, #recipeHeader, #vendorHeader, #ingredientHeader {
  font-family: 'Libre Bodoni', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #4F583D;
}

#table-background {
  background-color: #fcfaf4;
}

#table-header-style {
  font-family: 'Libre Bodoni', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #c9c9a9;
}

#table-text-style {
  font-family: 'Roboto', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fcfaf4;
}

#columnStyle {
  background-color: #ebede4;
  font-family: "Akshar", monospace;
  font-size: 20px;
}
.ui.signin.button {
  background-color: #a37f2a !important;
  color: #f5f0e6;
}
#add-vendor-button {
  color: #f5f0e6 !important;
}

.footer {
  background-Color: #ceb793;
  color: #f5f0e6;
  padding: 11px 0;
  font-size: 14px;
  margin-top: 50px;
}

#searchRecipeForm {
  background-color: #CEB793;
}

#back-button-style {
  background-color: #b2c1b7;
  color: #4f583d;
  position: absolute;
  /*left: 157px;*/
  /*left: 120px;*/
  left: 0;
  top: 35px;
}
#back-button-style:hover {
  background-color: #98b7a2;
}

#edit-button-style {
  background-color: #fcfaf4;
  color: #c9c9a9;
  padding: 8px;
  margin-left: 0;
}
#edit-button-style:hover {
  background-color: #f5e9cf;
  /*color: #4f583d;*/
  color: #85865F;
}

#to-top-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #bca37e;
  color: #f5f0e6 !important;
  z-index: 1;
}
#to-top-button:hover {
  background-color: #9e835d;
  z-index: 1;
}
#individual-recipe-page-button:hover {
  z-index: 0;
}

.ui.segment.form-style, .accordion.ui.styled.form-style {
  background-color: #c9c9a9;
  color: #f5f0e6;
  border-width: 0;
}

#display-button-style {
  background-color: #bca37e;
  color: white;
  margin-left: 20px;
}

#table-style {
  display: block;
  height: 525px;
  overflow-y: scroll;
}


#table-style tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}




