@import url('https://fonts.googleapis.com/css?family=Akshar');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

a {
  color: #85865F !important;
}
a:hover {
  color: #4F583D !important;
}
#navbar a, #navbar a:hover {
  color: #f5f0e6 !important;
}

#navbar {
 background-color: #ceb793;
}

h1, h2, h3 {
  font-family: 'Libre Bodoni' !important;
  color: #4f583d !important;
}

#landing-image {
  background: url("images/image1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 450px;
  box-shadow: inset 0 0 0 50vw rgba(79, 88, 61, .6);
}
#landing-image2 {
  background: url("images/image2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  box-shadow: inset 0 0 0 50vw rgba(79, 88, 61, .4);
}
.green-background {
  background-color: #85865f;
  height: 30px;
}
.plain-background {
  background-color: #f5f0e6;
  height: 400px;
}
.landing-content1 {
  padding-top: 100px !important;
}
.landing-content2 {
  padding-top: 10px !important;
}
.landing-content1 h1 {
  color: white !important;
  font-family: 'Merienda' !important;
}
.landing-content1 h2 {
  color: white !important;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
  line-height: 30px !important;
}
.landing-content2 h2 {
  color: #4f583d !important;
  font-family: 'Merienda' !important;
}
.landing-content3 h2 {
  color: white !important;
  font-family: 'Merienda' !important;
  font-size: 50px !important;
}

#card-title {
  font-family: "Akshar", monospace !important;
  font-size: 25px;
}

#page-header-style {
  font-family: 'Libre Bodoni';
  font-size: 35px;
}

#table-header-style {
  font-family: 'Libre Bodoni';
  font-size: 20px;
  background-color: #c9c9a9;
}

#table-text-style {
  font-family: 'Roboto';
  font-size: 16px;
}

#columnStyle {
  background-color: #ebede4;
  font-family: "Akshar", monospace;
  font-size: 23px;
}

.ui.signin.button {
  background-color: #a37f2a !important;
  color: #f5f0e6;
}
#add-vendor-button {
  color: #f5f0e6 !important;
}

.footer {
  background-Color: #ceb793;
  color: #f5f0e6;
  padding: 11px 0px;
  font-size: 14px;
  margin-top: 50px;
}

#searchRecipeForm {
  background-color: #CEB793;
}